<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="lectureMapper">
  <resultMap type="Lecture" id="lectureResult">
  	<result column="lec_no" property="lecNo" />
  	<result column="lec_name" property="lecName" />
  	<result column="lec_sdate" property="lecSdate" />
  	<result column="lec_edate" property="lecEdate" />
  	<result column="lec_info" property="lecInfo" />
  	<result column="lec_stime" property="lecStime" />
  	<result column="lec_etime" property="lecEtime" />
  	<result column="lec_count" property="lecCount" />
  	<result column="lec_filename" property="lecFilename" />
  	<result column="lec_bcatg" property="lecBcatg" />
  	<result column="lec_scatg" property="lecScatg" />
  	<result column="lec_price" property="lecPrice" />
  	<result column="lec_grade" property="lecGrade" />
  	<result column="lec_jnum" property="lecJnum" />
  	<result column="lec_cnum" property="lecCnum" />
<!--   	<result column="lec_mlist" property="lecMlist" /> -->
  	<result column="tea_no" property="teaNo" />
  	<result column="loc_no" property="locNo" />
  	<collection property="teacher" resultMap="Teacher"/>
  	<collection property="lectureLocation" resultMap="LectureLocation"/>
  </resultMap>
  <resultMap type="Teacher" id="Teacher">
  		<result column="tea_no" property="teaNo" />
	  	<result column="tea_name" property="teaName" />
	  	<result column="tea_age" property="teaAge" />
	  	<result column="tea_info" property="teaInfo" />
	  	<result column="tea_edate" property="teaEdate" />
	  	<result column="tea_status" property="teaStatus" />
  </resultMap>
  <resultMap type="Wish" id="Wish">
  	<result column="mem_no" property="memNo"/>
  	<result column="wish_list" property="wishList"/>
  </resultMap>
  <resultMap type="Apply" id="Apply">
  	<result column="mem_no" property="memNo"/>
  	<result column="apply_list" property="applyList"/>
  </resultMap>
  <resultMap type="LectureLocation" id="LectureLocation">
  	<result column="loc_no" property="locNo"/>
  	<result column="loc_manager" property="locManager"/>
  	<result column="loc_loc" property="locLoc"/>
  	<result column="loc_name" property="locName"/>
  	<result column="loc_number" property="locNumber"/>
  	<result column="loc_info" property="locInfo"/>
  </resultMap>
    <select id="lectureList" resultMap="lectureResult">
		select l.lec_no, l.lec_name, TO_CHAR(l.lec_sdate,'YY.MM.DD') as "lec_sdate",TO_CHAR(l.lec_edate,'YY.MM.DD') as "lec_edate",
				 l.lec_stime, l.lec_etime, l.lec_count, l.lec_filename, l.lec_bcatg, l.lec_scatg, l.lec_price, t.tea_name
		 from lecture l
		 join teacher t 
		 on (l.tea_no = t.tea_no)		 
	</select>
	
	<select id="lectureDetail" resultMap="lectureResult">
		select l.lec_no, l.lec_name, TO_CHAR(l.lec_sdate,'YY.MM.DD') as lec_sdate,TO_CHAR(l.lec_edate,'YY.MM.DD') as lec_edate, l.lec_info,
				 l.lec_stime, l.lec_etime, l.lec_count, l.lec_filename, l.lec_bcatg, l.lec_scatg, l.lec_price, l.lec_grade, l.lec_jnum, l.lec_cnum, t.tea_name
		 from lecture l
		 join teacher t 
		 on (l.tea_no = t.tea_no) 
		 where l.lec_no = #{lecNo}
	</select>
  	
  	<select id="mainOrdNew" resultMap="lectureResult">
		select l.lec_no, l.lec_name, TO_CHAR(l.lec_sdate,'YY.MM.DD') as "lec_sdate",TO_CHAR(l.lec_edate,'YY.MM.DD') as "lec_edate",
				 l.lec_stime, l.lec_etime, l.lec_count, l.lec_filename, l.lec_bcatg, l.lec_scatg, l.lec_price, t.tea_name
		 from lecture l
		 join teacher t 
		 on (l.tea_no = t.tea_no)		 
		 order by l.lec_no desc
	</select>
	<select id="mainOrdGrade" resultMap="lectureResult">
		select l.lec_no, l.lec_name, TO_CHAR(l.lec_sdate,'YY.MM.DD') as "lec_sdate",TO_CHAR(l.lec_edate,'YY.MM.DD') as "lec_edate",
				 l.lec_stime, l.lec_etime, l.lec_count, l.lec_filename, l.lec_bcatg, l.lec_scatg, l.lec_price, t.tea_name
		 from lecture l
		 join teacher t 
		 on (l.tea_no = t.tea_no)		 
		 order by l.lec_grade desc
	</select>
	<select id="mainOrdNotice" resultMap="noticeMapper.noticeResult">
		select n.notice_no, n.notice_title, to_char(n.notice_edate, 'YYYY-MM-DD') as notice_edate  
		from notice n, member m 
		where n.mem_no = m.mem_no and n.notice_catg = 0
		order by notice_edate desc
	</select>
	<select id="mainOrdEvent" resultMap="noticeMapper.noticeResult">
		select n.notice_no, n.notice_title, to_char(n.notice_edate, 'YYYY-MM-DD') as notice_edate  
		from notice n, member m 
		where n.mem_no = m.mem_no and n.notice_catg = 1
		order by notice_edate desc
	</select>
</mapper>
