#content{width: 100%;height: auto; margin-top: 50px;}

.inner {margin: 0 200px 0 200px; height: inherit; display: flex; flex-direction: column;}
.inner hr{margin-top: 120px;}

button{cursor: pointer;}

.lecture_util {display: flex; margin-left: auto;}
.lecture_util ul {display: flex;}
.lecture_util ul li {display: flex;}
.lecture_util ul li .util_a {border-right: 1px solid #bdbdbd;}
.lecture_util ul li a {color: #666; padding: 0 7px; font-size: 14px; }
.lecture_util ul li a img {width: 20px; height: 20px; vertical-align: bottom;}

.lecture_join {margin: 0 auto; margin-top: 100px; margin-bottom: 100px;}
.lecture_join h1 {font-size: 50px;}

.form_table .join_form {border-collapse: collapse;}
.form_table .tr_th td{border-bottom: 1px solid #000; color: #000; font-weight: 500; font-size: 19px;}
.join_form td {border-bottom: 1px solid #bdbdbd; font-size: 16px; font-weight: 400;}
.join_form .tr_info td {color: #222;}
.join_form .tr_info td a {color: #222;}
.join_form .tr_info .color_diff a {color: rgba(48, 2, 255, 0.75);}

.btn_array {display: flex; justify-content: space-between; margin: 70px 0 0 0;}
.btn_array .lecture_regi button {cursor: pointer; margin-right: 10px; width: 100px; height: 50px;}
.btn_array .lecture_regi button:first-child {cursor: pointer; background-color: #000; color: #fff; font-size: 15px; font-weight: 500;}
.btn_array .lecture_regi button:last-child {cursor: pointer; background-color: #fff; color: #000; font-size: 15px; font-weight: 500; border: 0.1px solid #000;}
.btn_array .join_move button {cursor: pointer; width: 100px; height: 50px; background-color: rgba(255, 0, 0, 0.70); color: #000; font-size: 15px; font-weight: 500; border: 0.1px solid #000;}

.pay_go {cursor: pointer; width: 50px; height: 25px; background-color: rgba(255, 2, 0, 0.60); color: #000; border: 0.1px solid #000;}
.teacher_info{
    background-color: #e8e7e7;
    border-radius: 10%;
    color: #000;
}
input{
    border: none;
    outline: none;
}
.class_util{
    margin-top: 20px;
    text-align: right;
}
.class_join{
    width: 100%;
    margin: 50px auto;
    text-align: center;
}
.join_form{
    text-align: center;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid gainsboro  ;
}
.join_form tbody tr{
    line-height: 30px;
    height: 90px;
}
